# body {
    font-family: 'Open sans', sans-serif;
    background-color: black;
}
#container{
    width: 700px;
    height: 600px;
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/image\ 13.png);
    margin: 20px auto;
}
#calculator{
    height: 580px;
    width: 350px;
    background-color: #5b94b9;
    margin: 0 auto;
    top: 7px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) 0 6px 20px 0 rgba(0,0,0,0.19);
}
#result{
    height: 120px;
}
#history{
    text-align: right;
    height: 20px ;
    margin: 0 20px ;
    padding-top: 20px;
    font-size: 15px ;
    color: #dfd1d1;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;

}
#keyboard{
    height: 400px;
}
.operator, .empty, .number{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: right;
    border-radius: 50% ;
    border-width: 0;
    font-weight: bold;
    font-size: 14px;
}
.empty, .number{
    background-color: #eaedef ;
}
.number, .operator{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 13px;
}
.operator:focus, .empty:focus, .number:focus{
    outline: 0;
}
button:nth-child(1){
    font-size: 20px;
    background-color: #20b2aa;
}
button:nth-child(5){
    font-size: 20px;
    background-color: #ffa500;
}
button:nth-child(9){
    font-size: 20px;
    background-color: #f08080;
}
button:nth-child(13){
    font-size: 20px;
    background-color: #7d93e0;
}
button:nth-child(17){
    font-size: 20px;
    background-color: #9477af;
}
button:nth-child(20){
    font-size: 20px;
    background-color: #5330b2;
}